@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a {
  font-family: "Bebas Neue", cursive;
  font-weight: 400px;
  font-size: 25px;
  color: #edf0e1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: black;
}

footer {
  color: aliceblue;
  background-color: #7f7878;
  text-align: center;
  bottom: 0%;
}

.logo {
  width: 220px;
  cursor: pointer;
  margin-top: 2px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;

}

.nav__links li a {
  transition: all 0, 3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(144, 115, 46);
}

body {
  background-image: url(Fondo.JPG);
  width: 100%;
}

.div__1 {
  float: left;
  padding: 10px;
  background-color: #edf0e1;
  opacity: 0.68;
  width: 450px;
  font-size: 41px;
  margin-top: 45px;
  margin-left: 35px;
  font-family: "Bebas Neue", cursiva;
  color: black;
  display: flex;
}

.Alumna__home {
  display: flex;
  justify-content: right;
  margin: 20px;
  padding: 100px;
}

.section__1 {
  width: 450px;
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
  background-color: aliceblue;
  justify-content: center;
  opacity: 0.92;
}

.wake__clases {
  justify-content: center;
}


h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400px;
  font-size: 35px;
  color: #2b2a27bb;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

.ul__precios,
li {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  list-style: none;
}

.section__2 {
  display: flex;
  width: 450px;
  padding: 20px;
  margin: 3%;
  box-sizing: border-box;
  background-color: aliceblue;
  opacity: 0.92;
}

.margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin__carousel{
  margin-top: 20px;
  margin-bottom: 20px;
  }

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #e1a50c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(3, 2, 2);
}

.button:hover {background-color: #000000}

.button:active {
  background-color: #ffffff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button__align {
  display: flex;
  align-items: flex-end;
}

.formulario {
  padding: 10px;
  background-color: #edf0e1;
  opacity: 0.68;
  font-size: 25px;
  margin-top: 65px;
  margin-bottom: 45px;
  font-family: "Bebas Neue", cursiva;
  color: black;
}